RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:HTTP_Authorization}]
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUES_FILENAME} !-f
RewriteCond %{REQUES_FILENAME} !-d
RewriteRule . index.php [L]
